.content {
  height: 100%;
}

@media only screen and (min-width: 1161px) {
  /* For large screens: */
  .content {
    padding: 2.0625rem 0 0 11.3rem;
  }
}

@media only screen and (max-width: 1161px) {
  /* For small screens: */
  .content {
    padding: 2.0625rem 0 0 11.3rem;
  }
}
