@import "../SignApp";

form {
  position: relative;
  top: 30%;
  text-align: center;
  .signup-text {
    //display: block !important;
  }
  .signup-submit {
    width: 200px;
    margin: 20px auto;
  }
}
