$progressbarHeight: 5rem;
$progressbarHeightThinner: 0.625rem;
$progressbarHeightThicker: 3.125rem;

$quizIndicatorBarHeight: 1.875rem;
$quizIndicatorBarHeightThinner: 0.625rem;
$quizIndicatorBarHeightThicker: 3.125rem;

$playerWindowWidthAtLarge: 53.75rem;
$playerWindowWidthAtMedium: 39rem;
