$light-navy: #176d99;

@value light-navy #{$light-navy};

$slate-grey: #616a6b;

@value slate-grey #{$slate-grey};

$dusty-orange: #f28021;
$sick-green: #9abf32;
$pale-grey: #f1f3f4;
$white: #fff;

@value white #{$white};

$charcoal-grey: #3f4a4b;
$steel-grey: #848b8c;

@value steel-grey #{$steel-grey};

$cool-grey: #a7acad;

@value cool-grey #{$cool-grey};

$silver: #cacdcd;

@value silver #{$silver};

$silver-two: #edeeee;
$slate-grey-two: #5f7477;
$silver-three: #b6bfc1;
$steel-grey-two: #7c8d8f;

@value slate-grey-two #{$slate-grey-two};

$cool-grey-two: #99a6a8;
$silver-four: #d3d9d9;
