@import "../variables";

.full-width {
  width: 100%;
}

.half {
  width: 261px;
  float: left;
}

.half:nth-of-type(1) {
  margin-right: 19px;
}

.info-label {
  font-weight: 500;
  font-size: 1.222em;
  text-align: left;
  margin: 0;
  margin-bottom: 11.75px;
  color: $FlassMediumGrayColor
}

.info-input {
  line-height: 1.65;
  font-size: 1.111em;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  padding: 2px 11.25px 3.5px 11.25px;
  border: 0;
  border: none;
  border-bottom: solid 1px #d3d9d9;
  color: $FlassGrayColor
}

.info-textarea {
  margin-top: 2px;
  padding-top: 7.5px;
  margin-left: -2.25;
  height: 89.25px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  resize: none;
}
