@import "../variables";

.full-width {
  width: 100%;
}

.half {
  width: 21.8125rem;
  float: left;
}

.half:nth-of-type(1) {
  margin-right: 1.1875rem;
}

.info-label {
  font-weight: 500;
  font-size: 1.5714rem;
  text-align: left;
  margin: 0;
  margin-bottom: 0.734375rem;
  color: $FlassMediumGrayColor
}

.info-input {
  line-height: 1.65;
  font-size: 1.4285rem;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  padding: 0.125rem 0.703125rem 0.21875rem 0.703125rem;
  border: 0;
  border: none;
  border-bottom: solid 1px #d3d9d9;
  color: $FlassGrayColor
}

.info-textarea {
  margin-top: 0.125rem;
  padding-top: 0.46875rem;
  margin-left: -0.140625rem;
  height: 5.578125rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem #d8d8d8;
  resize: none;
}
