.optionsBoxIcon {
  display: block;
  margin: 0 auto;
  margin-top: 10.68rem;
  width: 4.03rem;
  height: 2.96rem;
  margin-bottom: 0.89rem;
}

.optionsBoxMessage {
  display: block;
  text-align: center;
  font-size: 1.571rem;
  font-weight: 500;
  color: #848B8C;
  margin-bottom: 1.88rem;
}

.buttonsContainer {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
