{
  "presets": [
    "react",
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-functions",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "~/*": "./client"
        }
      }
    ]
  ]
}
