
.flass-app-bar {
  position: fixed !important;
}

.flass-app-bar-title {
  text-decoration: none;
}

.flass-notification-icon {
  color: #fff !important;
  cursor: pointer;
}

.flass-user-app-bar {
  width: 160px;
  color: #fff;
}
