@import '../../variables';

.quiz {
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.04);
  height: $playerHeight;
}
