
.flass-drawer {
  width: 6rem;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 40rem;
  float: left;
}

.flass-drawer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15rem;
}
