@import "../SignApp";

form {
  position: relative;
  top: 30%;

  text-align: center;
  .signin-text {
    //display: block !important;
  }
  .signin-checkbox {
    width: 200px !important;
    margin: 20px auto;
  }
  .signin-submit {
    width: 200px;
  }
  .signin-button-box {
    margin: 10px;
  }
  .signin-button {
    width: 300px;
  }
}
