@import "./variables";

.left-col {
  width: 50%;
  float: left;
}
.right-col {
  width: 40%;
  float: right;
  margin-right: 10%;

  .next {
    width: 80px;
    float: right;
  }
}

.buttonLabel {
  color: white;
}

.fileUpload {
  display: none;
}

.uploadButton {
  width: 90%;
  height: 160px;
  background-color: #7dcdf8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadButton:hover {
  cursor: pointer;
  background-color: #75a8da;
}

.thumbnail {
  width: 100%
}

// ****************************
@media only screen and (min-width: 510px) {
  /* For large screens: */
  .headerContainer {
    width: 400px;
  }
}

@media only screen and (max-width: 510px) {
  /* For small screens: */
  .headerContainer {
    width: 220px;
  }
}

.headerContainer {
  margin-bottom: 25.5px;
}

.steps {
  display: inline-block;
}

.disabled {
  display: inline;
  margin: 0;
  font-size: 1.11em;
  font-weight: bold;
  text-align: left;
  color: $FlassGrayColor;
}

.active {
  color: $FlassBlueColor;
}

.stepsDecorator {
  margin-left: 18.75px;
  margin-right: 21px;
}
