.video-btn {
  display: inline-block;
  border: none;
  padding: 0,inherit;
  background: none;
  z-index: 3;

  &--right {
    float: right;
  }

  &--l-margin {
    margin-left: 10px;
  }

  &--r-margin {
    margin-right: 10px;
  }

  &__icon {
    height: 30px;
    width: 30px;
  }
}
