$flassDrawerWidth: 8rem;
$AppBarMinHeight: 6rem;
$silver-four: #d3d9d9;

.flass-app-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  top: 0;
  padding-left: $flassDrawerWidth;
  width: 100%;
  min-height: $AppBarMinHeight;
  border-bottom: 1px solid $silver-four;
  background-color: transparent;

  &--no-b-margin {
    margin-bottom: 0;
  }

}
