.quiz-single-choice {
  margin-top: 35px;
  /* div끼리 같은 높이 맞추기 위해서 */
  display: flex;

  & > div {
    display: flex;
    float: none;
  }
  /***/

  &__checkbox {
    width: 30px;
    height: 30px;
    padding: 3.5px 3.5px;
    border: solid 1.5px #3f4a4b;
    border-radius: 50%;
  }

  &__check {
    width: 20px;
    height: 20px;
    border: solid 1.5px #9abf32;
    border-radius: 50%;
    background-color: #9abf32;
  }

  &__q-text-wrapper {
    position: relative;
    display: inline-block;
  }

  &__q-text {
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 30px;
    color: #cacdcd;
    width: 500px;

    &--font-black {
      color: #3f4a4b;
    }

    &:focus ~ span {
      width: 100%;
      opacity: 1;
    }
  }

  &__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    width: 0;
    border: .5px solid #d3d9d9;
    transition: all 0.5s linear;
  }

  &__delete-btn {
    position: absolute;
    right: 68px;

    & > img {
      width: 16px;
      height: 16px;
      margin: auto;
    }
  }
}
