.alignRight {
  text-align: right;
}

.exitIcon {
  width: 1.27rem;
  height: 1.27rem;
  margin: 1.5rem 1.563rem 0 0;
}

.alignCenter {
  text-align: center;
}

.googleLoginIcon {
  display: block;
  margin: 0 auto;
  margin-top: 7.86rem;
  width: 3.5rem;
  height: 3.563rem;
  margin-bottom: 1rem;
}

.googleLoginMessage {
  display: block;
  font-size: 1.571rem;
  font-weight: 500;
  color: #848B8C;
  margin-bottom: 1.813rem;
}
