.left-col {
  width: 50%;
  float: left;
}
.right-col {
  width: 40%;
  float: right;
  margin-right: 10%;

  .next {
    width: 80px;
    float: right;
  }
}

.buttonLabel {
  color: white;
}

.fileUpload {
  display: none;
}

.uploadButton {
  width: 90%;
  height: 160px;
  background-color: #7dcdf8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadButton:hover {
  cursor: pointer;
  background-color: #75a8da;
}

.thumbnail {
  width: 100%
}
