.left-col {
  width: 50%;
  float: left;
}
.right-col {
  width: 40%;
  float: right;
  margin-right: 10%;

  label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  textarea {
    height: 400px;
  }

  .next {
    width: 80px;
    float: right;
  }
}
