.left-col {
  width: 50%;
  float: left;
}
.right-col {
  width: 40%;
  float: right;
  margin-right: 10%;

  .next {
    width: 80px;
    float: right;
  }

  .nextLabel {
    color: white;
  }
}

.noConnector {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
