@import '../../../../css/base/mixins';
@import '../../FlassAppVariables';

.flass-app-bar {
  position: absolute;
  top: 0;
  padding-left: $flassDrawerWidth;
  width: 100%;
  min-height: $AppBarMinHeight;
  border: 1px solid transparent;
  background-color: $AppBarBackgroundColor;
  border-color: $AppBarBorderColor;
  border-width: 0 0 1px;

  &--no-b-margin {
    margin-bottom: 0;
  }

  @include atSmall {
  }

}
