@import '../../../../css/base/mixins';
@import '../../FlassAppVariables';
@import '../../common/colors';

.flass-app-bar {
  position: absolute;
  top: 0;
  padding-left: $flassDrawerWidth;
  width: 100%;
  min-height: $AppBarMinHeight;
  border-bottom: 1px solid $silver-four;
  background-color: transparent;
  &--no-b-margin {
    margin-bottom: 0;
  }

  @include atSmall {
  }

}
