.video-volume-bar {
  width: 100%;
}

.video-volume-bar-wrapper {
  display: inline-block;

  &--visible {
    width: 3.75rem;
    z-index: 0;
    opacity: 1;
    transition: width 0.5s linear;
  }

  &--invisible {
    width: 0px;
    z-index: -5;
    opacity: 0;
    transition: width 0.5s linear, opacity 0.5s linear;
  }
}
