$charcoal-grey: #3f4a4b;

.header {
  display: inline-block;
  font-size: 1.5714rem;
  font-size: 1.6em;
  font-weight: bold;
  text-align: justify;
  margin-right: 2.13rem;
  color: $charcoal-grey;
}
