@import '../../../css/base/_row';
@import "../../../css/base/mixins";
@import "../../Video/VideoVariables";

$playerHeight: 350px;
$playerWidth: 100%;


.flass-upload-insertion-media {
  position: relative;
  padding-right: 10px;
  height: $playerHeight;
  border-radius: 3px;

  &__player-wrapper {
    width: $playerWidth;
    height: $playerHeight;
    border-radius: 3px;
  }

  &__player {
    &::after {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      content: ""
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    width: $playerWidth;
    height: $playerHeight;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;

    &__question {
      width: $playerWidth * 0.6;
      height: $playerHeight;
      float: right;
      background-color: rgba(255, 255, 255, .9);
      color: black;
      z-index: 20;
      transition: background-color 1s ease-out;
      animation: move 1s ease-out;
    }
  }

  &__controller-bar {
    position: absolute;
    width: $playerWidth;
    height: $progressbarHeight;
    top: $playerHeight - $progressbarHeight - 1px;
    background-color: rgba(0, 0, 0, .32);

    @include atPlayerMedium {
      width: $playerWindowWidthAtMedium;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}
