@import "../VideoVariables";

.bar {
  position: absolute;
  width: 100%;
  height: $progressbarHeight;
  background-color: rgba(255, 255, 255, .44);
  border-radius: 1px;

  &--thinner {
    height: $progressbarHeightThinner;
  }

  &--thicker {
    height: $progressbarHeightThicker;
  }
}

.played-bar {
  position: absolute;
  width: 1%;
  height: $progressbarHeight;
  background-color: green;
  border-radius: 1px;

  &--thinner {
    height: $progressbarHeightThinner;
  }

  &--thicker {
    height: $progressbarHeightThicker;
  }
}

.loaded-bar {
  position: absolute;
  width: 1%;
  height: $progressbarHeight;
  background-color: blue;
  border-radius: 1px;

  &--thinner {
    height: $progressbarHeightThinner;
  }

  &--thicker {
    height: $progressbarHeightThicker;
  }
}
