@import "../../../css/base/mixins";

$progressbarMarginTop: 16px;

.player-progress-bar {
  position: relative;

  @include atLarge {
    width: 100%;
    background-color: transparent;

    &::before {
      display: block;
      content: "";
      height: $progressbarMarginTop;
    }
  }
}
