@import "../VideoVariables";

.played-bar {
  position: absolute;
  width: 1%;
  height: $progressbarHeight;
  background-color: green;

  &--thinner {
    height: $progressbarHeightThinner;
  }
}

.loaded-bar {
  position: absolute;
  width: 1%;
  height: $progressbarHeight;
  background-color: blue;

  &--thinner {
    height: $progressbarHeightThinner;
  }
}
