
.flass-detail {
  .flass-detail-contents {
    min-height: 21rem;

    .flass-detail-media {
      width: 60%;
      float: left;
    }
    .flass-detail-question-list-container {
      display: inline-block;
      width: 35%;
      margin: 0 1rem;
      float: right;
    }
  }

  .flass-detail-tabs {

  }
}
