@import "../../Video/VideoVariables";

$mediaHeight: 400px;
$playerHeight: 300px;
$playerWidth: 700px;

.flass-detail {
  .flass-detail-contents {
    min-height: 21rem;

    .flass-detail-media {
      position: relative;
      width: 60%;
      float: left;

      &__player {
        width: $playerWidth;
        height: $playerHeight;
      }

      &__modal {
        position: absolute;
        top: 0;
        width: $playerWidth;
        height: $playerHeight;
        z-index: 10;
        background-color: rgba(0, 0, 0, .5);
        color: white;
      }

      &__controller-bar {
        width: $playerWidth;
        height: $progressbarHeight;
        position: absolute;
        top: $playerHeight - $progressbarHeight - 1px;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }

      &--larger-height {
        height: $mediaHeight;
      }
    }

    .flass-detail-question-list-container {
      display: inline-block;
      width: 35%;
      margin: 0 1rem;
      float: right;
    }
  }

  .flass-detail-tabs {

  }
}
