@import "../../Video/VideoVariables";

$mediaHeight: 320px;
$playerHeight: 300px;
$playerWidth: 700px;

.flass-detail {
  .flass-detail-contents {
    min-height: 21rem;

    .flass-detail-media {
      &__player {
        width: $playerWidth;
        height: $playerHeight;
      }

      &__modal {
        position: absolute;
        top: 0;
        width: $playerWidth;
        height: $playerHeight;
        z-index: 10;
        background-color: rgba(0, 0, 0, .5);

        &__question {
          width: $playerWidth * 0.6;
          height: $playerHeight;
          float: right;
          background-color: rgba(255, 255, 255, .9);
          color: black;
          z-index: 20;
          transition: background-color 1s ease-out;
          animation: move 1s ease-out;
        }
      }

      &__controller-bar {
        width: $playerWidth;
        height: $progressbarHeight;
        position: absolute;
        top: $playerHeight - $progressbarHeight - 1px;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }

      &--larger-height {
        height: $mediaHeight;
      }
    }
  }

  .flass-detail-tabs {
    padding: 1rem;
    background-color: #fff;

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      border: 0px;
      border-bottom: 1px solid #000;
    }
  }
}

@keyframes move {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
