.failUrl {
  border: solid 1px #d0011b;
}

// URLSuccess.js
.youtubeThumbnail {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: inherit;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  border-radius: inherit;
}
