$progressbarHeight: 80px;
$progressbarHeightThinner: 10px;

$quizIndicatorBarHeight: 30px;
$quizIndicatorBarHeightThinner: 10px;

$playerWindowWidthAtLarge: 1160px;
$playerWindowWidthAtMedium: 624px;
