$progressbarHeight: 80px;
$progressbarHeightThinner: 10px;
$progressbarHeightThicker: 50px;

$quizIndicatorBarHeight: 30px;
$quizIndicatorBarHeightThinner: 10px;
$quizIndicatorBarHeightThicker: 50px;

$playerWindowWidthAtLarge: 860px;
$playerWindowWidthAtMedium: 624px;
