.signInBackground {
  width: 100%;
  height: 100vh;
  background-image: -webkit-image-set(
    url("./img/background.png") 1x,
    url("./img/background@2x.png") 2x,
    url("./img/background@3x.png") 3x
  );
}

.signInContainer {
  width: 35.88rem;
  height: 39.88rem;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #ffffff;
  border-radius: 0.1875rem;
  box-shadow: 0.1875rem 0.25rem 0.625rem 0 rgba(79, 79, 79, 0.22);
  border: solid 0.0625rem rgba(0, 0, 0, 0.04);
  text-align: center;
}

.flassLogo {
  margin-top: 5.69375rem;
  width: 9.125rem;
  height: 11.4375rem;
}

.signInMessage {
  margin-top: 2.1273rem;
  display: block;
  font-size: 1.6875rem;
  font-weight: 700;
  text-align: center;
  color: #5f7477;
}

.signInMessage2 {
  margin-top: 2.25rem;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  color: #99a6a8;
}

.signInButton {
  display: block;
  margin: 0 auto;
  margin-top: 4.75rem;
  width: 20.13rem;
  height: 3.25rem;
  border-radius: 6.25rem;
  font-size: 1.286rem;
  border: solid 0.125rem #ed412d;
  cursor: pointer;
}

a {
  color: #ed412d;
  text-decoration: none;
}

a:hover {
  color: #ed412d;
  text-decoration: none;
}

.classtingIcon {
  margin-top: 4.1875rem;
  cursor: pointer;
}

.signInButtonContent {
  width: fit-content;
  margin-top: 0.6875rem;
  margin-left: 2.875rem;
  color: #DF604D;
}

.googleIcon {
  width: 1.375rem;
  height: 1.438rem;
  margin-right: 2.188rem;
}
