@import "./mixins";

.row {
  @include clearfix;

  &--t-margin {
    margin-top: 30px;
  }

  &--t-margin-larger {
    margin-top: 214px;
  }

  &--equal-height-at-large {
    @include atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  @include atLarge {
    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }
  }

  @include atPlayerLarge {
    &__player-large-8 {
      float: left;
      width: 66.66%;
    }

    &__player-large-4 {
      float: left;
      width: 33.33%;
    }

    &__player-large-5 {
      float: left;
      width: 50%;
    }
  }
}

.Col {
  @include clearfix;

  @include atLarge {
    &__grid {
      float: left;
      width: 23.44rem;
      margin-right: 3.31rem;
    }
  }
}

.Row {
  @include clearfix;

  @include atLarge {
    &--l-padding {
      padding-left: 1.34375rem;
    }
  }

  &--t-margin {
    margin-top: 3rem;

    @include atLarge {
      margin-top: 0;
    }
  }

  &--t-small-margin {
    margin-top: 1.525rem;
  }



  @include atLarge {
    &--r-padding {
      padding-right: 1.6875rem;
    }
  }


  &__large-5 {
    @include atLarge {
      float: left;
      width: 50%;
    }

    overflow: auto;
  }

}
