@import "./mixins";

.row {
  @include clearfix;

  &--t-margin {
    margin-top: 30px;
  }

  &--t-margin-larger {
    margin-top: 214px;
  }

  &--equal-height-at-large {
    @include atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  @include atLarge {
    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }
  }

  @include atPlayerLarge {
    &__player-large-8 {
      float: left;
      width: 66.66%;
    }

    &__player-large-4 {
      float: left;
      width: 33.33%;
    }

    &__player-large-5 {
      float: left;
      width: 50%;
    }
  }
}

.Col {
  @include clearfix;

  @include atLarge {
    &__grid {
      float: left;
      width: 23.44rem;
      margin-right: 3.31rem;
    }
  }
}

.Row {
  @include clearfix;
}
