@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("../../../public/fonts/NotoSansCJKkr-Medium.woff");
}

body {
  font-family: "NotoSansCJKkr-Medium", "Noto Sans", "Noto Sans CJK KR", sans-serif;
}
