@import './normalize.css';

@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("../fonts/NotoSansCJKkr-Medium.woff");
}

html, body {
  font-size: 12px;
  height: 100%;
}

#app {
  height: 100%;
}

body {
  font-family: "NotoSansCJKkr-Medium", "Noto Sans", "Noto Sans CJK KR", sans-serif;
  overflow-x: hidden;
}


body {
  font-family: "NotoSansCJKkr-Medium", "Noto Sans", "Noto Sans CJK KR", sans-serif;
  overflow-x: hidden;
}