@import "../FlassApp";

$flassDrawerWidth: 8rem;

.flass-drawer {
  position: relative;
  width: $flassDrawerWidth;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #eee;
  min-height: 40rem;
  float: left;
  z-index: 9999;
}
