@import "../FlassApp";
@import "../FlassAppVariables";

.flass-drawer {
  height: 100%;
  position: fixed;
  width: $flassDrawerWidth;
  top: 0;
  left: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
