@import "../FlassApp";

$flassDrawerWidth: 6rem;

.flass-drawer {
  position: fixed;
  top: 0;
  padding-top: $flassAppBarHeight !important;
  width: $flassDrawerWidth;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #eee;
  height: 100%;
  min-height: 20rem;
}

.flass-drawer-top {
  height: 100%;
}

$drawerBottomHeight: 13rem;

.flass-drawer-bottom {
  position: relative;
  bottom: $drawerBottomHeight;
  height: $drawerBottomHeight;
}
